In [2]:
import json
#import pymysql
import pandas as pd

In [7]:
# Create column format dictionary
coldf = pd.read_csv('C:/data/HMDA/HMDA_columns_1990_2004.csv')
cols = json.loads(coldf.to_json(orient='records'))
cols

[{'NAME': 'ASOF_DATE', 'START': 0, 'STOP': 4, 'LENGTH': 4},
 {'NAME': 'RESP_ID', 'START': 4, 'STOP': 14, 'LENGTH': 10},
 {'NAME': 'AGENCY_CODE', 'START': 14, 'STOP': 15, 'LENGTH': 1},
 {'NAME': 'LOAN_TYPE', 'START': 15, 'STOP': 16, 'LENGTH': 1},
 {'NAME': 'LOAN_PURPOSE', 'START': 16, 'STOP': 17, 'LENGTH': 1},
 {'NAME': 'OCCUPANCY', 'START': 17, 'STOP': 18, 'LENGTH': 1},
 {'NAME': 'LOAN_AMOUNT', 'START': 18, 'STOP': 23, 'LENGTH': 5},
 {'NAME': 'ACTION_TYPE', 'START': 23, 'STOP': 24, 'LENGTH': 1},
 {'NAME': 'PROPERTY_MSA', 'START': 24, 'STOP': 28, 'LENGTH': 4},
 {'NAME': 'STATE_CODE', 'START': 28, 'STOP': 30, 'LENGTH': 2},
 {'NAME': 'COUNTY_CODE', 'START': 30, 'STOP': 33, 'LENGTH': 3},
 {'NAME': 'CENSUS_TRACT_NUMBER', 'START': 33, 'STOP': 40, 'LENGTH': 7},
 {'NAME': 'RACE_APPLICANT', 'START': 40, 'STOP': 41, 'LENGTH': 1},
 {'NAME': 'RACE_COAPPLICANT', 'START': 41, 'STOP': 42, 'LENGTH': 1},
 {'NAME': 'SEX_APPLICANT', 'START': 42, 'STOP': 43, 'LENGTH': 1},
 {'NAME': 'SEX_COAPPLICANT', 'START': 43, 'STOP': 44, 'LENGTH': 1},
 {'NAME': 'APPLICANT_INCOME', 'START': 44, 'STOP': 48, 'LENGTH': 4},
 {'NAME': 'PURCHASER_TYPE', 'START': 48, 'STOP': 49, 'LENGTH': 1},
 {'NAME': 'DENIAL_REASON_1', 'START': 49, 'STOP': 50, 'LENGTH': 1},
 {'NAME': 'DENIAL_REASON_2', 'START': 50, 'STOP': 51, 'LENGTH': 1},
 {'NAME': 'DENIAL_REASON_3', 'START': 51, 'STOP': 52, 'LENGTH': 1},
 {'NAME': 'EDIT_STATUS', 'START': 52, 'STOP': 53, 'LENGTH': 1},
 {'NAME': 'SEQUENCE_NUMBER', 'START': 53, 'STOP': 60, 'LENGTH': 7}]

Note:  All string types except for ASOF_DATE (value is year) and SEQUENCE_NUMBER

In [9]:
sqlcreate = ''.join([''.join([x['NAME'] + ' VARCHAR(' + str(x['LENGTH']) + '), ']) for x in cols if x['NAME'] != 'SEQUENCE_NUMBER' and x['NAME'] != 'ASOF_DATE'])

sqlcreate = "ASOF_DATE INT, " + sqlcreate
sqlcreate = sqlcreate + "SEQUENCE_NUMBER INT"


sqlcreate ' CREATE TABLE '

TypeError: sequence item 0: expected str instance, list found

In [30]:
import pymysql.cursors

ModuleNotFoundError: No module named 'pymysql'

CREATE TABLE `hmda`.`lars` (
  `appID` INT UNSIGNED NOT NULL AUTO_INCREMENT,
  `ASOF_DATE` INT UNSIGNED NOT NULL,
  `RESP_ID` VARCHAR(10) NOT NULL,
  `AGENCY_CODE` VARCHAR(1) NOT NULL,
  `LOAN_TYPE` VARCHAR(1) NOT NULL,
  `LOAN_PURPOSE` VARCHAR(1) NOT NULL,
  `OCCUPANCY` VARCHAR(1) NOT NULL,
  `LOAN_AMOUNT` VARCHAR(5) NOT NULL,
  `ACTION_TYPE` VARCHAR(1) NOT NULL,
  `PROPERTY_MSA` VARCHAR(5) NOT NULL,
  `STATE_CODE` VARCHAR(2) NOT NULL,
  `COUNTY_CODE` VARCHAR(3) NOT NULL,
  `CENSUS_TRACT_NUMBER` VARCHAR(7) NOT NULL,
  `RACE_APPLICANT` VARCHAR(1) NOT NULL,
  `RACE_COAPPLICANT` VARCHAR(1) NOT NULL,
  `SEX_APPLICANT` VARCHAR(1) NOT NULL,
  `SEX_COAPPLICANT` VARCHAR(1) NOT NULL,
  `APPLICANT_INCOME` VARCHAR(4) NOT NULL,
  `PURCHASER_TYPE` VARCHAR(1) NOT NULL,
  `DENIAL_REASON_1` VARCHAR(1) NOT NULL,
  `DENIAL_REASON_2` VARCHAR(1) NOT NULL,
  `DENIAL_REASON_3` VARCHAR(1) NOT NULL,
  `EDIT_STATUS` VARCHAR(1) NOT NULL,
  `SEQUENCE_NUMBER` INT NOT NULL,
  PRIMARY KEY (`appID`));