In [3]:
import pandas as pd
import json

In [49]:
# Create column format dictionary
coldf = pd.read_csv('C:/data/HMDA/HMDA_columns_1981_1989.csv')
cols = json.loads(coldf.to_json(orient='records'))
cols

[{'NAME': 'respondentName', 'START': 0, 'STOP': 28, 'LENGTH': 28},
 {'NAME': 'respondentID', 'START': 28, 'STOP': 36, 'LENGTH': 8},
 {'NAME': 'reportMSA', 'START': 36, 'STOP': 40, 'LENGTH': 4},
 {'NAME': 'censusTract', 'START': 40, 'STOP': 46, 'LENGTH': 6},
 {'NAME': 'state', 'START': 46, 'STOP': 48, 'LENGTH': 2},
 {'NAME': 'county', 'START': 48, 'STOP': 51, 'LENGTH': 3},
 {'NAME': 'supervisoryAgencyCode', 'START': 51, 'STOP': 52, 'LENGTH': 1},
 {'NAME': 'censusValidityFlag', 'START': 52, 'STOP': 54, 'LENGTH': 2},
 {'NAME': 'VA_FHA', 'START': 54, 'STOP': 55, 'LENGTH': 1},
 {'NAME': 'vaNumLoans', 'START': 55, 'STOP': 59, 'LENGTH': 4},
 {'NAME': 'vaTotalLoans', 'START': 59, 'STOP': 68, 'LENGTH': 8},
 {'NAME': 'convLoansFlag', 'START': 68, 'STOP': 69, 'LENGTH': 1},
 {'NAME': 'convNumLoans', 'START': 69, 'STOP': 73, 'LENGTH': 4},
 {'NAME': 'convTotalLoans', 'START': 73, 'STOP': 82, 'LENGTH': 9},
 {'NAME': 'hiFlag', 'START': 82, 'STOP': 83, 'LENGTH': 1},
 {'NAME': 'hiNumLoans', 'START': 83, 'STOP': 87, 'LENGTH': 4},
 {'NAME': 'hiTotalLoans', 'START': 87, 'STOP': 96, 'LENGTH': 9},
 {'NAME': 'multiFlag', 'START': 96, 'STOP': 97, 'LENGTH': 1},
 {'NAME': 'multiNumLoans', 'START': 97, 'STOP': 101, 'LENGTH': 4},
 {'NAME': 'multiTotalLoans', 'START': 101, 'STOP': 110, 'LENGTH': 9},
 {'NAME': 'nonFlag', 'START': 110, 'STOP': 111, 'LENGTH': 1},
 {'NAME': 'nonNumLoans', 'START': 111, 'STOP': 115, 'LENGTH': 4},
 {'NAME': 'nonTotalLoans', 'START': 115, 'STOP': 124, 'LENGTH': 9},
 {'NAME': 'recordQuality', 'START': 124, 'STOP': 125, 'LENGTH': 1}]

In [50]:
#datarange = [x for x in range(1990, 2001, 1)]
datarange = [x for x in range(1981, 1982, 1)]
datarange

[1981]

In [51]:
first_file = True
for i in datarange:
    print(i)
    folder = "c:/data/HMDA/"
    
    
    filename = folder + "HMD_FACDSB" + str(i)[-2:] + ".txt"
    print(filename)
    
#     with open(filename) as f:
#         line = f.readline()
#         print(line)
   
    if first_file == True:
        df = pd.read_csv(filename, header=None, delimiter="\t", names=["original"])
    else:
        df.append(pd.read_csv(filename, header=None, delimiter="\t", names=["original"]))

1981
c:/data/HMDA/HMD_FACDSB81.txt

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442248 entries, 0 to 442247
Data columns (total 1 columns):
original    442248 non-null object
dtypes: object(1)
memory usage: 3.4+ MB

In [53]:
for col in cols:
    print(col['NAME'])
    df[col['NAME']] = df.original.map(lambda x: x[col["START"]:col["STOP"]])

respondentName
respondentID
reportMSA
censusTract
state
county
supervisoryAgencyCode
censusValidityFlag
VA_FHA
vaNumLoans
vaTotalLoans
convLoansFlag
convNumLoans
convTotalLoans
hiFlag
hiNumLoans
hiTotalLoans
multiFlag
multiNumLoans
multiTotalLoans
nonFlag
nonNumLoans
nonTotalLoans
recordQuality

In [54]:
df[["state", "county", "censusTract"]].head(30)

   state county censusTract
0     09    001      060100
1     09    001      060900
2     09    001      061000
3     09    001      061300
4     09    001      071400
5     09    001      072400
6     09    001      072600
7     09    001      073700
8     09    001      080100
9     09    001      080600
10    09    001      080800
11    09    001      080900
12    09    001      081100
13    09    001      081300
14    09    001      090100
15    09    001      090200
16    09    001      090300
17    09    001      090500
18    09    001      090700
19    09    001      100100
20    09    001      100200
21    09    001      100300
22    09    001      110100
23    09    001      110200
24    09    001      110300
25    09    001      110400
26    09    001      110500
27    09    001      110600
28    09    009      150100
29    09    009      150300

In [55]:
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PASS = ''
DB_NAME = 'hmda'

In [60]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host=DB_HOST,
                             user=DB_USER,
                             password=DB_PASS,
                             db=DB_NAME,
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
#     with connection.cursor() as cursor:
#         # Create a new record
    sql = "INSERT INTO lars1981 ("
    for i in cols:
        sql = sql + i["NAME"] + ", "
        
    sql = sql[:-2]
    sql = sql + ") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    print(sql)
    

    print(cols)
    data = [ df.iloc[0][x['NAME']]  for x in cols]
    print(data)
    data = tuple(data)
    print(data)
    with connection.cursor() as cursor:
        result_row = cursor.execute(sql, (tuple(data)))

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM lars1981"
        cursor.execute(sql)
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()

INSERT INTO lars1981 (respondentName, respondentID, reportMSA, censusTract, state, county, supervisoryAgencyCode, censusValidityFlag, VA_FHA, vaNumLoans, vaTotalLoans, convLoansFlag, convNumLoans, convTotalLoans, hiFlag, hiNumLoans, hiTotalLoans, multiFlag, multiNumLoans, multiTotalLoans, nonFlag, nonNumLoans, nonTotalLoans, recordQuality) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
[{'NAME': 'respondentName', 'START': 0, 'STOP': 28, 'LENGTH': 28}, {'NAME': 'respondentID', 'START': 28, 'STOP': 36, 'LENGTH': 8}, {'NAME': 'reportMSA', 'START': 36, 'STOP': 40, 'LENGTH': 4}, {'NAME': 'censusTract', 'START': 40, 'STOP': 46, 'LENGTH': 6}, {'NAME': 'state', 'START': 46, 'STOP': 48, 'LENGTH': 2}, {'NAME': 'county', 'START': 48, 'STOP': 51, 'LENGTH': 3}, {'NAME': 'supervisoryAgencyCode', 'START': 51, 'STOP': 52, 'LENGTH': 1}, {'NAME': 'censusValidityFlag', 'START': 52, 'STOP': 54, 'LENGTH': 2}, {'NAME': 'VA_FHA', 'START': 54, 'STOP': 55, 'LENGTH': 1}, {'NAME': 'vaNumLoans', 'START': 55, 'STOP': 59, 'LENGTH': 4}, {'NAME': 'vaTotalLoans', 'START': 59, 'STOP': 68, 'LENGTH': 8}, {'NAME': 'convLoansFlag', 'START': 68, 'STOP': 69, 'LENGTH': 1}, {'NAME': 'convNumLoans', 'START': 69, 'STOP': 73, 'LENGTH': 4}, {'NAME': 'convTotalLoans', 'START': 73, 'STOP': 82, 'LENGTH': 9}, {'NAME': 'hiFlag', 'START': 82, 'STOP': 83, 'LENGTH': 1}, {'NAME': 'hiNumLoans', 'START': 83, 'STOP': 87, 'LENGTH': 4}, {'NAME': 'hiTotalLoans', 'START': 87, 'STOP': 96, 'LENGTH': 9}, {'NAME': 'multiFlag', 'START': 96, 'STOP': 97, 'LENGTH': 1}, {'NAME': 'multiNumLoans', 'START': 97, 'STOP': 101, 'LENGTH': 4}, {'NAME': 'multiTotalLoans', 'START': 101, 'STOP': 110, 'LENGTH': 9}, {'NAME': 'nonFlag', 'START': 110, 'STOP': 111, 'LENGTH': 1}, {'NAME': 'nonNumLoans', 'START': 111, 'STOP': 115, 'LENGTH': 4}, {'NAME': 'nonTotalLoans', 'START': 115, 'STOP': 124, 'LENGTH': 9}, {'NAME': 'recordQuality', 'START': 124, 'STOP': 125, 'LENGTH': 1}]
["'GREAT COUNTRY BK            '", "'01090020'", "'1160'", "'060100'", "'09'", "'001'", "'6'", "'02'", "'0'", "'0000'", "'000000000'", "'1'", "'0001'", "'000000080'", "'0'", "'0000'", "'000000000'", "'0'", "'0000'", "'000000000'", "'0'", "'0000'", "'000000000'", "' '"]
("'GREAT COUNTRY BK            '", "'01090020'", "'1160'", "'060100'", "'09'", "'001'", "'6'", "'02'", "'0'", "'0000'", "'000000000'", "'1'", "'0001'", "'000000080'", "'0'", "'0000'", "'000000000'", "'0'", "'0000'", "'000000000'", "'0'", "'0000'", "'000000000'", "' '")
{'larsID': 1, 'respondentName': "'GREAT COUNTRY BK           ", 'respondentID': "'0109002", 'reportMSA': "'116", 'censusTract': "'06010", 'state': "'0", 'county': "'00", 'supervisoryAgencyCode': "'", 'censusValidityFlag': "'0", 'VA_FHA': "'", 'vaNumLoans': "'000", 'vaTotalLoans': "'00000000", 'convLoansFlag': "'", 'convNumLoans': "'000", 'convTotalLoans': "'00000008", 'hiFlag': "'", 'hiNumLoans': "'000", 'hiTotalLoans': "'00000000", 'multiFlag': "'", 'multiNumLoans': "'000", 'multiTotalLoans': "'00000000", 'nonFlag': "'", 'nonNumLoans': "'000", 'nonTotalLoans': "'00000000", 'recordQuality': "'"}

C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'respondentName' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'respondentID' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'reportMSA' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'censusTract' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'state' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'county' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'supervisoryAgencyCode' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'censusValidityFlag' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'VA_FHA' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'vaNumLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'vaTotalLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'convLoansFlag' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'convNumLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'convTotalLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'hiFlag' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'hiNumLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'hiTotalLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'multiFlag' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'multiNumLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'multiTotalLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'nonFlag' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'nonNumLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'nonTotalLoans' at row 1")
  self._do_get_result()
C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column 'recordQuality' at row 1")
  self._do_get_result()

In [41]:
df.iloc[0]

'GREAT COUNTRY BK            '