In [1]:
import pandas as pd
import json

In [2]:
# Create column format dictionary
coldf = pd.read_csv('C:/data/HMDA/HMDA_columns_1990_2004.csv')
cols = json.loads(coldf.to_json(orient='records'))

In [3]:
cols

[{'LENGTH': 4, 'NAME': 'ASOF_DATE', 'START': 0, 'STOP': 4},
 {'LENGTH': 10, 'NAME': 'RESP_ID', 'START': 4, 'STOP': 14},
 {'LENGTH': 1, 'NAME': 'AGENCY_CODE', 'START': 14, 'STOP': 15},
 {'LENGTH': 1, 'NAME': 'LOAN_TYPE', 'START': 15, 'STOP': 16},
 {'LENGTH': 1, 'NAME': 'LOAN_PURPOSE', 'START': 16, 'STOP': 17},
 {'LENGTH': 1, 'NAME': 'OCCUPANCY', 'START': 17, 'STOP': 18},
 {'LENGTH': 5, 'NAME': 'LOAN_AMOUNT', 'START': 18, 'STOP': 23},
 {'LENGTH': 1, 'NAME': 'ACTION_TYPE', 'START': 23, 'STOP': 24},
 {'LENGTH': 4, 'NAME': 'PROPERTY_MSA', 'START': 24, 'STOP': 28},
 {'LENGTH': 2, 'NAME': 'STATE_CODE', 'START': 28, 'STOP': 30},
 {'LENGTH': 3, 'NAME': 'COUNTY_CODE', 'START': 30, 'STOP': 33},
 {'LENGTH': 7, 'NAME': 'CENSUS_TRACT_NUMBER', 'START': 33, 'STOP': 40},
 {'LENGTH': 1, 'NAME': 'RACE_APPLICANT', 'START': 40, 'STOP': 41},
 {'LENGTH': 1, 'NAME': 'RACE_COAPPLICANT', 'START': 41, 'STOP': 42},
 {'LENGTH': 1, 'NAME': 'SEX_APPLICANT', 'START': 42, 'STOP': 43},
 {'LENGTH': 1, 'NAME': 'SEX_COAPPLICANT', 'START': 43, 'STOP': 44},
 {'LENGTH': 4, 'NAME': 'APPLICANT_INCOME', 'START': 44, 'STOP': 48},
 {'LENGTH': 1, 'NAME': 'PURCHASER_TYPE', 'START': 48, 'STOP': 49},
 {'LENGTH': 1, 'NAME': 'DENIAL_REASON_1', 'START': 49, 'STOP': 50},
 {'LENGTH': 1, 'NAME': 'DENIAL_REASON_2', 'START': 50, 'STOP': 51},
 {'LENGTH': 1, 'NAME': 'DENIAL_REASON_3', 'START': 51, 'STOP': 52},
 {'LENGTH': 1, 'NAME': 'EDIT_STATUS', 'START': 52, 'STOP': 53},
 {'LENGTH': 7, 'NAME': 'SEQUENCE_NUMBER', 'START': 53, 'STOP': 60}]

In [4]:
#datarange = [x for x in range(1990, 2001, 1)]
datarange = [x for x in range(1990, 1994, 1)]
datarange

[1990, 1991, 1992, 1993]

In [5]:
first_file = True
for i in datarange:
    print(i)
    folder = "c:/data/HMDA/"
    filename = folder + "HMS.U" + str(i) + ".LARS"

#     with open(filename) as f:
#         line = f.readline()
#         print(line)
   
    if first_file == True:
        df = pd.read_csv(filename, header=None, delimiter="\t", names=["original"])
    else:
        df.append(pd.read_csv(filename, header=None, delimiter="\t", names=["original"]))

1990
1991
1992
1993

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15477323 entries, 0 to 15477322
Data columns (total 1 columns):
original    object
dtypes: object(1)
memory usage: 118.1+ MB

In [11]:
for col in cols:
    print(col['NAME'])
    df[col['NAME']] = df.original.map(lambda x: x[col["START"]:col["STOP"]])

ASOF_DATE
RESP_ID
AGENCY_CODE
LOAN_TYPE
LOAN_PURPOSE
OCCUPANCY
LOAN_AMOUNT
ACTION_TYPE
PROPERTY_MSA
STATE_CODE
COUNTY_CODE
CENSUS_TRACT_NUMBER
RACE_APPLICANT
RACE_COAPPLICANT
SEX_APPLICANT
SEX_COAPPLICANT
APPLICANT_INCOME
PURCHASER_TYPE
DENIAL_REASON_1
DENIAL_REASON_2
DENIAL_REASON_3
EDIT_STATUS
SEQUENCE_NUMBER

In [48]:
df[["STATE_CODE", "COUNTY_CODE", "CENSUS_TRACT_NUMBER"]].head(30)

   STATE_CODE COUNTY_CODE CENSUS_TRACT_NUMBER
0          NA         NA              NA
1          NA         NA              NA
2          NA         NA              NA
3          NA         NA              NA
4          NA         NA              NA
5          NA         NA              NA
6          25         023             NA
7          25         023             NA
8          25         009             2057.00
9          25         017             3322.00
10         25         017             3424.00
11         25         017             3613.00
12         25         017             3621.00
13         25         017             3731.00
14         25         017             3735.00
15         25         017             3833.00
16         25         021             4003.00
17         25         021             4025.00
18         25         021             4033.00
19         25         021             4122.00
20         25         021             4171.00
21         25         021             4174.00
22         25         021             4180.00
23         25         021             4180.00
24         25         021             4181.00
25         25         021             4195.00
26         25         021             4197.00
27         25         021             4221.00
28         25         021             4431.00
29         25         021             4564.02

In [8]:
for i in df.iterrows():
    print(i)
    break

(0, original    199300000000011111001751NA  NANA NA     571300...
Name: 0, dtype: object)

In [9]:
df[['APPLICANT_INCOME', 'LOAN_AMOUNT']]

KeyError: "['APPLICANT_INCOME' 'LOAN_AMOUNT'] not in index"