### Patch

In [1]:
from pandas.io.sql import SQLTable

def _execute_insert(self, conn, keys, data_iter):
    #print("Using monkey-patched _execute_insert")
    data = [dict((k, v) for k, v in zip(keys, row)) for row in data_iter]
    conn.execute(self.insert_statement().values(data))

SQLTable._execute_insert = _execute_insert

In [22]:
import pandas as pd
import json
import pymysql.cursors
import os
import time
import shutil

from sqlalchemy import create_engine

In [25]:
# MySQL Parameters
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PASS = 'ceg2ececeg2ece'
DB_NAME = 'hmda'
DB_SECURE_FILE_PRIV = 'D:/sqldata/Uploads/'
# Files location
folder = "F:/data/HMDA/"

In [5]:
# Create column format dictionary
coldf = pd.read_csv(folder + 'HMDA_columns_1990_2004.csv')
cols = json.loads(coldf.to_json(orient='records'))

In [6]:
cols

[{'LENGTH': 4, 'NAME': 'ASOF_DATE', 'START': 0, 'STOP': 4},
 {'LENGTH': 10, 'NAME': 'RESP_ID', 'START': 4, 'STOP': 14},
 {'LENGTH': 1, 'NAME': 'AGENCY_CODE', 'START': 14, 'STOP': 15},
 {'LENGTH': 1, 'NAME': 'LOAN_TYPE', 'START': 15, 'STOP': 16},
 {'LENGTH': 1, 'NAME': 'LOAN_PURPOSE', 'START': 16, 'STOP': 17},
 {'LENGTH': 1, 'NAME': 'OCCUPANCY', 'START': 17, 'STOP': 18},
 {'LENGTH': 5, 'NAME': 'LOAN_AMOUNT', 'START': 18, 'STOP': 23},
 {'LENGTH': 1, 'NAME': 'ACTION_TYPE', 'START': 23, 'STOP': 24},
 {'LENGTH': 4, 'NAME': 'PROPERTY_MSA', 'START': 24, 'STOP': 28},
 {'LENGTH': 2, 'NAME': 'STATE_CODE', 'START': 28, 'STOP': 30},
 {'LENGTH': 3, 'NAME': 'COUNTY_CODE', 'START': 30, 'STOP': 33},
 {'LENGTH': 7, 'NAME': 'CENSUS_TRACT_NUMBER', 'START': 33, 'STOP': 40},
 {'LENGTH': 1, 'NAME': 'RACE_APPLICANT', 'START': 40, 'STOP': 41},
 {'LENGTH': 1, 'NAME': 'RACE_COAPPLICANT', 'START': 41, 'STOP': 42},
 {'LENGTH': 1, 'NAME': 'SEX_APPLICANT', 'START': 42, 'STOP': 43},
 {'LENGTH': 1, 'NAME': 'SEX_COAPPLICANT', 'START': 43, 'STOP': 44},
 {'LENGTH': 4, 'NAME': 'APPLICANT_INCOME', 'START': 44, 'STOP': 48},
 {'LENGTH': 1, 'NAME': 'PURCHASER_TYPE', 'START': 48, 'STOP': 49},
 {'LENGTH': 1, 'NAME': 'DENIAL_REASON_1', 'START': 49, 'STOP': 50},
 {'LENGTH': 1, 'NAME': 'DENIAL_REASON_2', 'START': 50, 'STOP': 51},
 {'LENGTH': 1, 'NAME': 'DENIAL_REASON_3', 'START': 51, 'STOP': 52},
 {'LENGTH': 1, 'NAME': 'EDIT_STATUS', 'START': 52, 'STOP': 53},
 {'LENGTH': 7, 'NAME': 'SEQUENCE_NUMBER', 'START': 53, 'STOP': 60}]

In [7]:
#datarange = [x for x in range(1990, 2001, 1)]
datarange = [x for x in range(1990, 2015, 1)]
datarange

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014]

In [19]:

def UploadDatatoDB(df):
    # Connect to the database
    connection = pymysql.connect(host=DB_HOST,
                                 user=DB_USER,
                                 password=DB_PASS,
                                 db=DB_NAME,
                                 charset='utf8mb4',
                                 cursorclass=pymysql.cursors.DictCursor)

#    engine = create_engine('mysql+pymysql://root:@localhost:3306/hmda', echo = False)
    
    #df.to_sql(name = 'my_table', con = engine, if_exists = 'append', index = False)
    
    #df.to_sql(name='lars', con=connection, if_exists = 'append', index=False)

    try:
        sql = "INSERT INTO lars ("
        for i in cols:
            sql = sql + i["NAME"] + ", "

        sql = sql[:-2]
        sql = sql + ") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

        for i in df.iterrows():

            # create tuple of data
            data = [ i[1][x['NAME']].strip() for x in cols]
            data = tuple(data) 

            with connection.cursor() as cursor:
                result_row = cursor.execute(sql, data)
                connection.commit()

            if i[0] % 10000 == 0:
                print(i[0])

        with connection.cursor() as cursor:
            # Read a single record
            sql = "SELECT * FROM lars LIMIT 1"
            cursor.execute(sql)
            result = cursor.fetchone()
            print(result)
    finally:
        connection.close()
        
    return "Upload ok"

In [20]:
def readDataFile(filename):
    
    df = pd.read_csv(filename, header=None, delimiter="\t", names=["original"])

    for col in cols:
        #print(col['NAME'])
        df[col['NAME']] = df.original.map(lambda x: x[col["START"]:col["STOP"]])

    df = df.drop(['original'], axis=1)
    
    
    return df

In [23]:
def manualUpload(filename):
    connection = pymysql.connect(host=DB_HOST,
                                 user=DB_USER,
                                 password=DB_PASS,
                                 db=DB_NAME,
                                 charset='utf8mb4',
                                 cursorclass=pymysql.cursors.DictCursor)
    
    # To comply with the --secure-file-priv flag, first move file to designated
    # upload folder.
    newfile = DB_SECURE_FILE_PRIV + os.path.basename(filename)
    shutil.copy2(filename, newfile)

    
    sql = " LOAD DATA INFILE '" + newfile +  "' \
            INTO TABLE hmda.lars \
            FIELDS TERMINATED BY ',' \
            ENCLOSED BY \'\"\'    \
            LINES TERMINATED BY \'\\n\'   \
            IGNORE 1 ROWS           \
            (ASOF_DATE,RESP_ID,AGENCY_CODE,LOAN_TYPE,LOAN_PURPOSE,OCCUPANCY,  \
             LOAN_AMOUNT,ACTION_TYPE,PROPERTY_MSA,STATE_CODE,COUNTY_CODE,     \
             CENSUS_TRACT_NUMBER,RACE_APPLICANT,RACE_COAPPLICANT,SEX_APPLICANT,  \
             SEX_COAPPLICANT,APPLICANT_INCOME,PURCHASER_TYPE,DENIAL_REASON_1,   \
             DENIAL_REASON_2,DENIAL_REASON_3,EDIT_STATUS,SEQUENCE_NUMBER);"
    
    #print(sql)
    try:

        with connection.cursor() as cursor:
            result_row = cursor.execute(sql)
            connection.commit()

        with connection.cursor() as cursor:
            # Read a single record
            sql = "SELECT count(*) FROM lars"
            cursor.execute(sql)
            result = cursor.fetchone()
            print(result)
    finally:
        connection.close()

# Check number of lines per file

In [11]:
for i in datarange:
    
    totalstart = time.time()
    print(i)
    filename = folder + "HMS.U" + str(i) + ".LARS"
    
    # Specific file names
    if i == 2001:
        filename = filename + ".PUBLIC.DATA"

    if i == 2004:
        filename = folder + "u2004lar.public.dat"

    if i >= 2005:
        
        files = {   2005:"LARS.FINAL.2005.DAT",
                    2006:"LARS.FINAL.2006.DAT",
                    2007:"lars.ultimate.2007.dat", 
                    2008:"lars.ultimate.2008.dat", 
                    2009:"2009_Ultimate_PUBLIC_LAR.dat",
                    2010:"Lars.ultimate.2010.dat",
                    2011:"Lars.ultimate.2011.dat",
                    2012:"Lars.ultimate.2012.dat",
                    2013:"Lars.ultimate.2013.dat",
                    2014:"Lars_ultimate_2014.txt"}
        filename = folder + files[i]
        

    num_lines = sum(1 for line in open(filename))
    print(i, ":", num_lines)

1990
1990 : 6707650
1991
1991 : 7940024
1992
1992 : 12026809
1993
1993 : 15477323
1994
1994 : 12215807
1995
1995 : 11271664
1996
1996 : 14865058
1997
1997 : 16421046
1998
1998 : 24701216
1999
1999 : 22911425
2000
2000 : 19250597
2001
2001 : 27643163
2002
2002 : 31310410
2003
2003 : 41579149
2004
2004 : 33630474
2005
2005 : 36439157
2006
2006 : 34105441
2007
2007 : 26702092
2008
2008 : 17531240
2009
2009 : 19574492
2010
2010 : 16751980
2011
2011 : 14906446
2012
2012 : 18752061
2013
2013 : 17013337
2014
2014 : 12086507

# Read file, parse, save, upload, delete

In [18]:
# check for --secure_file_priv flag:

connection = pymysql.connect(host=DB_HOST,
                             user=DB_USER,
                             password=DB_PASS,
                             db=DB_NAME,
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
try:

    with connection.cursor() as cursor:
        # Read a single record
        sql = 'SHOW VARIABLES LIKE "secure_file_priv";'
        cursor.execute(sql)
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()

{'Variable_name': 'secure_file_priv', 'Value': 'D:\\sqldata\\Uploads\\'}

In [26]:
for i in datarange:
    
    totalstart = time.time()
    print(i)
    filename = folder + "HMS.U" + str(i) + ".LARS"
    
    # Specific file names
    if i == 2001:
        filename = filename + ".PUBLIC.DATA"

    if i == 2004:
        filename = folder + "u2004lar.public.dat"

    if i >= 2005:
        
        files = {   2005:"LARS.FINAL.2005.DAT",
                    2006:"LARS.FINAL.2006.DAT",
                    2007:"lars.ultimate.2007.dat", 
                    2008:"lars.ultimate.2008.dat", 
                    2009:"2009_Ultimate_PUBLIC_LAR.dat",
                    2010:"Lars.ultimate.2010.dat",
                    2011:"Lars.ultimate.2011.dat",
                    2012:"Lars.ultimate.2012.dat",
                    2013:"Lars.ultimate.2013.dat",
                    2014:"Lars_ultimate_2014.txt"}
        filename = folder + files[i]
        
        
    # Read and parse
    print("Reading and parsing file...", end='')
    parsestart = time.time()
    df = readDataFile(filename)
    print("done.")
    print("Total lines:")
    print(len(df.index))
    parsedone = time.time()
    elapsed = parsedone - parsestart
    print("Parse:", str(elapsed), " sec")
    
    
    # save
    print("Saving file...", end='')
    df.to_csv(filename + '.csv', index=False)
    print("done.")
    
    
    # upload
    print("Uploading file...", end='')
    uploadstart = time.time()
    manualUpload(filename + '.csv')
    uploaddone = time.time()
    elapsed = uploaddone - uploadstart
    print("done.")
    print("Upload:", str(elapsed), " sec")
    
    # remove file
    #os.remove(filename + '.csv')
    
    totaldone = time.time()
    elapsed = totaldone - totalstart
    print("Total:", str(elapsed), " sec")

1990
Reading and parsing file...done.
Total lines:
6707650
Parse: 51.37139391899109  sec
Saving file...done.
Uploading file...

DataError: (1406, "Data too long for column 'RACE_APPLICANT' at row 240715")

In [34]:
df[df['RACE_COAPPLICANT'] == '\\']

,ASOF_DATE,RESP_ID,AGENCY_CODE,LOAN_TYPE,LOAN_PURPOSE,OCCUPANCY,LOAN_AMOUNT,ACTION_TYPE,PROPERTY_MSA,STATE_CODE,...,RACE_COAPPLICANT,SEX_APPLICANT,SEX_COAPPLICANT,APPLICANT_INCOME,PURCHASER_TYPE,DENIAL_REASON_1,DENIAL_REASON_2,DENIAL_REASON_3,EDIT_STATUS,SEQUENCE_NUMBER
243152,1990,0000001338,1,1,1,1,00053,6,NA,25,...,\,4,4,NA,8,,,,,3478

# Connect to MySQL

### Parse file

In [26]:
df.head()

,original,ASOF_DATE,RESP_ID,AGENCY_CODE,LOAN_TYPE,LOAN_PURPOSE,OCCUPANCY,LOAN_AMOUNT,ACTION_TYPE,PROPERTY_MSA,...,RACE_COAPPLICANT,SEX_APPLICANT,SEX_COAPPLICANT,APPLICANT_INCOME,PURCHASER_TYPE,DENIAL_REASON_1,DENIAL_REASON_2,DENIAL_REASON_3,EDIT_STATUS,SEQUENCE_NUMBER
0,19900000035301B121000101NA NANA NA 582400...,1990,0000035301,B,1,2,1,00010,1,NA,...,8,2,4,0039,0,,,,,1
1,19900000035301B121000041NA NANA NA 581400...,1990,0000035301,B,1,2,1,00004,1,NA,...,8,1,4,0032,0,,,,,2
2,19900000035301B121000081NA NANA NA 582400...,1990,0000035301,B,1,2,1,00008,1,NA,...,8,2,4,0035,0,,,,,3
3,19900000035301B121000051NA NANA NA 581400...,1990,0000035301,B,1,2,1,00005,1,NA,...,8,1,4,0030,0,,,,,4
4,19900000035301B121000111NA NANA NA 551201...,1990,0000035301,B,1,2,1,00011,1,NA,...,5,1,2,0130,0,,,,,5

In [28]:
df2 = df.drop(['original'], axis=1)

In [29]:
df2.head()

,ASOF_DATE,RESP_ID,AGENCY_CODE,LOAN_TYPE,LOAN_PURPOSE,OCCUPANCY,LOAN_AMOUNT,ACTION_TYPE,PROPERTY_MSA,STATE_CODE,...,RACE_COAPPLICANT,SEX_APPLICANT,SEX_COAPPLICANT,APPLICANT_INCOME,PURCHASER_TYPE,DENIAL_REASON_1,DENIAL_REASON_2,DENIAL_REASON_3,EDIT_STATUS,SEQUENCE_NUMBER
0,1990,0000035301,B,1,2,1,00010,1,NA,NA,...,8,2,4,0039,0,,,,,1
1,1990,0000035301,B,1,2,1,00004,1,NA,NA,...,8,1,4,0032,0,,,,,2
2,1990,0000035301,B,1,2,1,00008,1,NA,NA,...,8,2,4,0035,0,,,,,3
3,1990,0000035301,B,1,2,1,00005,1,NA,NA,...,8,1,4,0030,0,,,,,4
4,1990,0000035301,B,1,2,1,00011,1,NA,NA,...,5,1,2,0130,0,,,,,5

In [49]:
len(df.index)

7940024

In [9]:
import MySQLdb

In [10]:
df = df.drop(['original'], axis=1)

In [16]:
from tqdm import tqdm

def chunker(seq, size):
    # from http://stackoverflow.com/a/434328
    return (seq[pos:pos + size] for pos in range(0, len(seq), size))

def insert_with_progress(df, engine):
    chunksize = int(len(df) / 1000) # 10k chunks seems to be largest
    with tqdm(total=len(df)) as pbar:
        for i, cdf in enumerate(chunker(df, chunksize)):
            replace = "replace" if i == 0 else "append"
            
            cdf.to_sql(name='lars', con=engine, if_exists = 'append', index=False)
            
            pbar.update(chunksize)

# ---
engine = create_engine('mysql+mysqldb://root:@localhost:3306/hmda', echo = False)

insert_with_progress(df, engine)

 39%|███████████████████████████▎                                          | 2615730/6707650 [11:34<18:00, 3787.70it/s]Exception ignored in: <function WeakKeyDictionary.__init__.<locals>.remove at 0x0000026D100AB840>
Traceback (most recent call last):
  File "C:\Users\Matt\AppData\Local\conda\conda\envs\lsci-gpu\lib\weakref.py", line 357, in remove
    self = selfref()
KeyboardInterrupt
 45%|███████████████████████████████▊                                      | 3044978/6707650 [13:30<15:58, 3822.80it/s]

KeyboardInterrupt:

In [17]:
df.to_csv(filename + '.csv', index=False)

### Upload file directly

In [ ]:

manualUpload('c:/data/HMDA/HMS.U1990.LARS.csv')

In [5]:
!conda list

# packages in environment at C:\Anaconda3:
#
alabaster                 0.7.7                    py35_0
anaconda                  2.5.0               np110py35_0
anaconda-client           1.2.2                    py35_0
argcomplete               1.0.0                    py35_1
asn1crypto                0.22.0                   py35_0
astropy                   1.1.1               np110py35_0
babel                     2.2.0                    py35_0
beautifulsoup4            4.4.1                    py35_0
bitarray                  0.8.1                    py35_1
blaze-core                0.9.0                    py35_0
bokeh                     0.11.0                   py35_0
boto                      2.39.0                   py35_0
bottleneck                1.0.0               np110py35_0
bzip2                     1.0.6                    vc14_2  [vc14]
certifi                   2016.2.28                py35_0
cffi                      1.10.0                   py35_0
clyent                    1.2.0                    py35_0
colorama                  0.3.6                    py35_0
comtypes                  1.1.2                    py35_0
conda                     4.3.30           py35hec795fb_0
conda-build               1.19.0                   py35_0
conda-env                 2.6.0                         0
configobj                 5.0.6                    py35_0
console_shortcut          0.1.1                    py35_1
cryptography              1.8.1                    py35_0
curl                      7.45.0                   vc14_1  [vc14]
cycler                    0.9.0                    py35_0
cython                    0.23.4                   py35_0
cytoolz                   0.7.5                    py35_0
datashape                 0.5.0                    py35_0
decorator                 4.0.6                    py35_0
Django                    2.0.4                     <pip>
django-bootstrap4         0.0.6                     <pip>
docutils                  0.12                     py35_1
dynd-python               0.7.1                    py35_0
et_xmlfile                1.0.1                    py35_0
fastcache                 1.0.2                    py35_0
flask                     0.10.1                   py35_1
freetype                  2.5.5                    vc14_0  [vc14]
futures                   3.0.3                    py35_0
greenlet                  0.4.9                    py35_0
h5py                      2.5.0               np110py35_4
hdf5                      1.8.15.1                 vc14_4  [vc14]
idna                      2.6                      py35_0
imbalanced-learn          0.4.3                     <pip>
intel-openmp              2019.0                    <pip>
ipykernel                 4.2.2                    py35_0
ipython                   4.0.3                    py35_0
ipython-notebook          4.0.4                    py35_3
ipython-qtconsole         4.0.1                    py35_4
ipython_genutils          0.1.0                    py35_0
ipywidgets                4.1.1                    py35_0
itsdangerous              0.24                     py35_0
jdcal                     1.2                      py35_0
jedi                      0.9.0                    py35_0
jinja2                    2.8                      py35_0
jpeg                      8d                       vc14_0  [vc14]
jsonschema                2.4.0                    py35_0
jupyter                   1.0.0                    py35_1
jupyter_client            4.1.1                    py35_0
jupyter_console           4.1.0                    py35_0
jupyter_core              4.0.6                    py35_0
Keras                     2.2.4                     <pip>
Keras-Applications        1.0.7                     <pip>
keras-attention-block     0.0.2                     <pip>
Keras-Preprocessing       1.0.9                     <pip>
launcher                  1.0.0                         4
libdynd                   0.7.1                         0
libpng                    1.6.17                   vc14_1  [vc14]
libsodium                 1.0.3                         0
libtiff                   4.0.6                    vc14_1  [vc14]
llvmlite                  0.8.0                    py35_0
lxml                      3.5.0                    py35_0
markupsafe                0.23                     py35_0
matplotlib                1.5.1               np110py35_0
menuinst                  1.4.7                    py35_0
mistune                   0.7.1                    py35_0
mkl                       2019.0                    <pip>
mkl                       11.3.1                        0
mkl-service               1.1.2                    py35_0
msvc_runtime              1.0.1                    vc14_0  [vc14]
multipledispatch          0.4.8                    py35_0
nbconvert                 4.1.0                    py35_0
nbformat                  4.0.1                    py35_0
networkx                  1.11                     py35_0
nltk                      3.1                      py35_0
node-webkit               0.10.1                        0
nose                      1.3.7                    py35_0
notebook                  4.1.0                    py35_0
numba                     0.23.1              np110py35_0
numexpr                   2.4.6               np110py35_1
numpy                     1.10.4                   py35_0
odo                       0.4.0                    py35_0
openpyxl                  2.3.2                    py35_0
openssl                   1.0.2l                   vc14_0  [vc14]
packaging                 16.8                     py35_0
pandas                    0.17.1              np110py35_0
path.py                   8.1.2                    py35_1
patsy                     0.4.0               np110py35_0
pep8                      1.7.0                    py35_0
pickleshare               0.5                      py35_0
pillow                    3.1.0                    py35_0
pip                       9.0.1                    py35_1
ply                       3.8                      py35_0
psutil                    3.4.2                    py35_0
py                        1.4.31                   py35_0
pyasn1                    0.1.9                    py35_0
pycosat                   0.6.2                    py35_0
pycparser                 2.18                     py35_0
pycrypto                  2.6.1                    py35_3
pyflakes                  1.0.0                    py35_0
pygments                  2.1                      py35_0
pyopenssl                 17.0.0                   py35_0
pyparsing                 2.2.0                    py35_0
pyqt                      4.11.4                   py35_4
pyreadline                2.1                      py35_0
pytables                  3.2.2               np110py35_1
pytest                    2.8.5                    py35_0
python                    3.5.4                         0
python-dateutil           2.4.2                    py35_0
pytz                      2015.7                   py35_0
pywin32                   220                      py35_2
pyyaml                    3.11                     py35_2
pyzmq                     15.2.0                   py35_0
qt                        4.8.7                    vc14_5  [vc14]
qtconsole                 4.1.1                    py35_0
requests                  2.14.2                   py35_0
rope                      0.9.4                    py35_1
ruamel_yaml               0.11.14                  py35_1
scikit-image              0.11.3              np110py35_0
scikit-learn              0.17                np110py35_2
scikit-learn              0.20.2                    <pip>
scipy                     0.17.0              np110py35_0
setuptools                36.4.0                   py35_1
simplegeneric             0.8.1                    py35_0
sip                       4.16.9                   py35_2
six                       1.10.0                   py35_1
sklearn                   0.0                       <pip>
snowballstemmer           1.2.1                    py35_0
sockjs-tornado            1.0.1                    py35_0
sphinx                    1.3.5                    py35_0
sphinx_rtd_theme          0.1.9                    py35_0
spyder                    2.3.8                    py35_0
spyder-app                2.3.8                    py35_0
sqlalchemy                1.0.11                   py35_0
statsmodels               0.6.1               np110py35_0
sympy                     0.7.6.1                  py35_0
tk                        8.5.18                   vc14_0  [vc14]
toolz                     0.7.4                    py35_0
tornado                   4.3                      py35_0
traitlets                 4.1.0                    py35_0
unicodecsv                0.14.1                   py35_0
vc                        14                            0
vs2015_runtime            14.0.25420                    0
werkzeug                  0.11.3                   py35_0
wheel                     0.29.0                   py35_0
wincertstore              0.2                      py35_0
xlrd                      0.9.4                    py35_0
xlsxwriter                0.8.4                    py35_0
xlwings                   0.6.4                    py35_1
xlwt                      1.0.0                    py35_0
zlib                      1.2.8                    vc14_2  [vc14]